.wrapper {
  margin: 30px 10vw;
}

.row {
  display: flex;
  width: calc(100% - 116px);
  margin-left: 58px;
}

.column {
  flex: 50%;
  height: 70vh;
  margin-bottom: 20px;
}

.container {
  overflow-x: hidden;
  width: 100%;
  white-space: nowrap; /* Prevents the items from wrapping to the next line */
}
  

.mat-mdc-raised-button {
  border-radius: 25px !important;
}

iframe:focus {
  outline: none;
}

iframe[seamless] {
  display: block;
}

.video-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between the videos */
}

.video-container {
  position: relative;
  padding-bottom: 18%; /* 16:9 ratio */
  height: 0;
  overflow: hidden;
  flex: 1 1 calc(25% - 20px); /* Four videos per row with gap */
  max-width: calc(25% - 20px); /* Ensure the width does not exceed 25% minus the gap */
  background: #000;
}

.video-container iframe {
  position: absolute;
  top: -40%;
  left: -35%;
  width: 175%;
  height: 175%;
  filter: brightness(60%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}



.description {
  font-size: 1em;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  color: white;
}


#recent-projects{
  text-align: center;
}