<div class="wrapper">
  <div class="player">
    <iframe
      title="vimeo-player"
      src="https://player.vimeo.com/video/241874407?autoplay=1&muted=1"
      width="100%"
      height="100%"
      frameborder="0"
      allowfullscreen
      allow="autoplay"
      sandbox="allow-presentation allow-scripts allow-same-origin"
    ></iframe>
  </div>
  <!--

    <div class="carousel">
      <div class="arrow">
        <button mat-icon-button (click)="scroll(-1)"><</button>
      </div>
      
      <div class="container" id="container">
        <div class="item" id="1">
          <img src="assets/images/bluescreen.png" />
          <div class="description">
            <h2>hello</h2>
            <p>description</p>
            <button mat-raised-button>See more</button>
          </div>
        </div>
        <div class="item" id="2">
          <img src="assets/images/bluescreen.png" />
          <div class="description">
            <h2>hello2</h2>
            <p>description</p>
            <button mat-raised-button>See more</button>
          </div>
        </div>
        <div class="item" id="3">
          <img src="assets/images/bluescreen.png" />
          <div class="description">
            <h2>hello3</h2>
            <p>description</p>
            <button mat-raised-button>See more</button>
          </div>
        </div>
        <div class="item" id="4">
          <img src="assets/images/bluescreen.png" />
          <div class="description">
            <h2>hello4</h2>
            <p>description</p>
            <button mat-raised-button>See more</button>
          </div>
        </div>
        <div class="item" id="5">
          <img src="assets/images/bluescreen.png" />
          <div class="description">
            <h2>hello5</h2>
            <p>description</p>
            <button mat-raised-button>See more</button>
          </div>
        </div>
      </div>
      <div class="arrow">
        <button mat-icon-button (click)="scroll(1)">></button>
      </div>
    </div>
  -->

  <h2 id="recent-projects">Recente Projekte</h2>
    <div class="video-row">
      <div *ngFor="let video of videos; let i = index" class="video-container">
        <iframe
          #vimeoIframe
          [src]="safeUrls[i]"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
          sandbox="allow-presentation allow-scripts allow-same-origin"
        ></iframe>
        <div class="description" (mouseover)="playVideo(i)">
          <h1>
            {{ video.title }}
          </h1>
        </div>
    </div>
  </div>
</div>
