.wrapper {
  margin: 0 10vw;
}

.row {
  display: flex;
  width: calc(100% - 116px);
  margin-left: 58px;
}

.column {
  flex: 50%;
}

.container {
  overflow-x: hidden;
  width: 100%;
  white-space: nowrap; /* Prevents the items from wrapping to the next line */
}

.item {
  border: 10px solid white;
  border-collapse: collapse;
  display: inline-block; /* Makes each item take up only the space it needs */
  width: calc(100% / 3 - 20px);
  min-width: 300px;
  position: relative;
  border-radius: 15px;
  background-color: aliceblue;

  .description {
    color: white;
    position: absolute;
    bottom: 24px;
    left: 24px;
  }

  img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
  }
}

.carousel {
  display: flex;
  align-items: center;
}

.first {
  margin-left: 0px;
}

.last {
  margin-right: 0px;
}

.mat-mdc-raised-button {
  border-radius: 25px !important;
}
