.wrapper {
  margin: 30px 10vw;
}

.player {
  height: 70vh;
  margin-bottom: 20px;
}

.container {
  overflow-x: hidden;
  width: 100%;
  white-space: nowrap; /* Prevents the items from wrapping to the next line */
}

.mat-mdc-raised-button {
  border-radius: 25px !important;
}

iframe:focus {
  outline: none;
}

iframe[seamless] {
  display: block;
}

.video-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between the videos */
}

.video-container {
  position: relative;
  padding-bottom: 18%; /* 4:3 ratio */
  height: 0;
  overflow: hidden;
  flex: 1 1 calc((80vw - 60px) / 4); /* Four videos per row with gap */
  max-width: calc((80vw - 60px) / 4); /* Ensure the width does not exceed 80vw minus the gaps */
  background: #000;
}

.video-container iframe {
  position: absolute;
  top: -40%;
  left: -40%;
  width: 175%;
  height: 175%;
  filter: brightness(60%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.description {
  font-size: 1em;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  color: white;
}

#recent-projects {
  text-align: center;
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
  .video-container {
    flex: 1 1 calc((80vw - 40px) / 3); /* Three videos per row with gap */
    max-width: calc((80vw - 40px) / 3);
    min-height: 10vh;
  }
}

@media (max-width: 900px) {
  .video-container {
    flex: 1 1 calc((80vw - 20px) / 2); /* Two videos per row with gap */
    max-width: calc((80vw - 20px) / 2);
    min-height: 10vh;

  }
}

@media (max-width: 600px) {
  .video-container {
    flex: 1 1 80vw; /* One video per row */
    max-width: 80vw;
    min-height: 25vh;

  }
}
